{% extends "index.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="{% url 'forum:addInForum' %}" method="POST">
            {% csrf_token %}
                <input placeholder="Title of your post" id="topic" name="topic" required><br></br>

                <textarea placeholder="Body of your post" rows="5" cols="50" id="description" name="description" required></textarea><br><br>

                <label for="name">Posting as:</label>
                <input id="name" name="name" value={{user.first_name}} required><br><br>

                <input type="submit" class="btn btn-success" value="Submit">
        </form>
    {% endif %}
{% endblock %}
