{% extends "index.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <body>
        <h3 class="jumbotron">
            Post here to discuss housing options and to see if anyone is looking for roommates!
            <h5>There are currently {{count}} active forums</h5>
            <form method="POST" action="{% url 'forum:addInForum' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Start a new forum</button>
            </form>
        </h3>
            <div class="card-columns" style="margin: 20px;"></div>

            {%for forum in forums %}
                <div class="card box container" style="background-color: paleturquoise; border-color:rgb(35, 45, 75);" >
                    <br>
                    <h5 class="card-title">
                        <h3>{{forum.topic}}</h3>
                        <div class="card-body container">
                                <p>{{forum.description}}</p>
                            </h5>
                            <p> By: {{forum.name}}</p>
                            <div class="card-box container">
                            <div class="card-box container">
                            <div class="card-box container">
                            <h3>Replies from other users</h3>
                            {% for discussion in myDiscussions %}
                                {% if discussion.myForum.topic == forum.topic %}
                                <div class="card-title"></div>
                                    <p>{{discussion.discuss}}</p>
                                    <p>By: {{discussion.name}}</p>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                            <form action="{% url 'forum:forumHome' %}" method="POST">
                                {% csrf_token %}
                                    <input type="hidden" class="form-control" id="forum" name="forum" value={{forum.id}}>
                                    <p>Your reply: {{form.discuss}}</p>
                                    <p>Write your name, or write Anonymous: {{form.name}}</p>
                                    <input type="submit" class="btn btn-success" value="Add your reply">
                            </form>
                            </div>
                            </div>
                            </div>
                        </div>



            <br>
</div>
            {%endfor%}
    {% else %}
        <h3>You must be signed in to see the forum!</h3>
    {% endif %}
</body>
{% endblock %}
