{% extends "index.html" %}

{% block content %}
    <h2>Properties</h2>
    
    <form method="GET">
        {{ filter.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <!-- Below line sourced from: https://bootstrapcreative.com/pattern/responsive-card-deck-example/ -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    
    {% for property in filter.qs %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{property.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{property.total_price}}</h6>
                <text class="card-text">{{property.address}}</text><br>
                <text class="card-text">Distance: {{property.distance}} mi</text><br>
                <text class="card-text">Free parking: {{property.parking}}</text><br>
                <text class="card-text">Furnished: {{property.furnished}}</text><br>
                <a href="{% url 'property' property.id %}" class="card-link">View Property</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}