{% extends "index.html" %}

{% block content %}
    <h1>{{ property.title }}</h1>
    <p>Website: {{ property.description|urlize }}</p>
    <p><img src="{{ property.picture_file_name }}" width=40%></p>
    <p>Address: {{property.address}}</p>
    <ul>
        Total Price: ${{ property.total_price }}
    </ul>
    <ul>
        Bedrooms: {{ property.bedrooms}}
    </ul>
    <ul>
        Bathrooms: {{ property.bathrooms}}
    </ul>
    <ul>
        Services: {{ property.services }}
    </ul>
    <ul>
        Average Rating for Services: {{ avg_service }}
    </ul>
    <ul>
        Amenities: {{ property.amenities }}
    </ul>
    <ul>
        Average Rating for Amenities: {{ avg_amenities }}
    </ul>
    <ul>
        Average Rating for Noise Level: {{ avg_noise }}
    </ul>
    <ul>
        Parking included: {{ property.parking }}
    </ul>
    <ul>
        Distance to Grounds: {{ property.distance }} mi
    </ul>
    <ul>
        Floorplan: 
        <img src="{{ property.floorplan_file_name }}" width="60%">
    </ul>
    <a href="{% url 'rating' %}"><button>Publish a rating</button></a>

    <a href="{% url 'properties' %}">Back to Listings</a>
    
{% endblock %}
