{% extends "index.html" %}

{% block content %}
    <h1>{{ property.title }}</h1>
    <p>Description: {{ property.description }}</p>
    <p>Address: {{property.address}}</p>
    <ul>
        Total Price: ${{ property.total_price }}
    </ul>
    <ul>
        Bedrooms: {{ property.bedrooms}}
    </ul>
    <ul>
        Bathrooms: {{ property.bathrooms}}
    </ul>
    <ul>
        Services: {{ property.services }}
    </ul>
    <ul>
        Amenities: {{ property.amenities }}
    </ul>
    <ul>
        Parking included: {{ property.parking }}
    </ul>
    <ul>
        Distance to Grounds: {{ property.distance }} mi
    </ul>

    <a href="{% url 'properties' %}">Back to Listings</a>
    
{% endblock %}