{% extends "index.html" %}
<script src="jquery/jquery.js"></script>
{% load bootstrap5 %}
{% bootstrap_javascript %}

{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}
{% if user.is_authenticated %}
    <script>
        function validate() {
            var select = document.getElementById('property');
            return !select.value == 0;
        }
    </script>

    <form action="{% url 'review' %}" method="post" onsubmit="return validate()">
        {% csrf_token %}

        <label for="property" class="form-label">Property</label>
            <select class="form-select" id="property" name="property" required>
              <option selected disabled value="">Choose...</option>
                {% for each in properties %}
                    <option value={{each.id}}> {{ each.title }} </option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid property.
            </div>

        <br>

        <label for="overall">Overall Rating (0 is the worst, 5 is the best):</label><br>
        <input type="number" min="0" max="5" id="overall" name="overall" required><br><br>

        <label for="amenities">Amenities Rating (0 is the worst, 5 is the best):</label><br>
        <input type="number" min="0" max="5" id="amenities" name="amenities" required><br><br>

        <label for="services">Services (0 is the worst, 5 is the best):</label><br>
        <input type="number" min="0" max="5" id="services" name="services" required><br><br>

        <label for="noise">Noise Level (0 is the noisiest, 5 is the quietest):</label><br>
        <input type="number" min="0" max="5" id="noise" name="noise" required><br><br>

        Review: <br>
        <textarea placeholder="Any additional comments?" rows = "5" cols = "50" id="text_review" name="text_review" style="margin-bottom: 1rem;" required></textarea><br>

        <button class="btn btn-success" button_type="submit" content="OK"> Submit </button>
        <a href="{% url 'review' %}"><button type="button" class="btn btn-outline-secondary">Reset</button></a>

    </form>

    <a href="{% url 'properties' %}">Back to Listings</a>

    {% else %}
    <h4>You must sign in before posting a review!</h4>
    {% endif %}

    {% endif %}

{% endblock %}