{% extends "index.html" %}
<script src="jquery/jquery.js"></script>
{% load bootstrap5 %}
{% bootstrap_javascript %}

{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}
    <form action="{% url 'review' %}" method="post">
        {% csrf_token %}
        <fieldset id="property">
            <legend>Choose a property to review</legend>
            {% for each in properties %}
                <input type="radio" name="property" value={{each.id}} required> {{ each.title }} <br>
            {% endfor %}
            <br>
        </fieldset>

        <label for="overall">Overall Rating (0 is the worst, 5 is the best):</label><br>
        <input type="number" min="0" max="5" id="overall" name="overall" required><br><br>

        <label for="amenities">Amenities Rating (0 is the worst, 5 is the best):</label><br>
        <input type="number" min="0" max="5" id="amenities" name="amenities" required><br><br>

        <label for="services">Services (0 is the worst, 5 is the best):</label><br>
        <input type="number" min="0" max="5" id="services" name="services" required><br><br>

        <label for="noise">Noise Level (0 is the noisiest, 5 is the quietest):</label><br>
        <input type="number" min="0" max="5" id="noise" name="noise" required><br><br>

        Review: <br>
        <textarea placeholder="Any additional comments?" rows = "5" cols = "50" id="text_review" name="text_review" style="margin-bottom: 1rem;" required></textarea><br>

        <button class="btn btn-success" button_type="submit" content="OK"> Submit </button>
<!-- sourced from https://stackoverflow.com/questions/40980932/reset-button-not-working-in-the-form-after-form-submit -->
<!--        https://stackoverflow.com/questions/2554116/how-to-clear-radio-button-in-javascript -->
        <script>
            function customReset()
            {
                var properties = document.getElementsByName("property");
                for(var i=0;i<properties.length;i++)
                   properties[i].checked = false;
                document.getElementById("overall").value = "";
                document.getElementById("amenities").value = "";
                document.getElementById("services").value = "";
                document.getElementById("noise").value = "";
            }
        </script>
        <a href="{% url 'review' %}"><button type="button" class="btn btn-outline-secondary">Reset</button></a>
<!--        <button class="btn btn-outline-secondary" name="reset" input_type="reset" onclick="customReset();"> Reset </button>-->
    </form>

    <a href="{% url 'properties' %}">Back to Listings</a>

{% endblock %}