{% extends "index.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <head>
        <p>Look for properties using the map below. The pink markers indicate the locations of different properties' addresses you searched for.</p>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" type="text/css" href="../static/map.css" />
        <script src="../static/map.js"></script>
    </head>
    <input
      id="search-bar"
      class="controls"
      type="text"
      placeholder="Search Bar"
    />
    <body>
        <div id="map"></div>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIZKaH2Ghg-DHyc3fNR03JfmblDwBEhE8&libraries=places&callback=initMap"
          async
        ></script>
    </body>
    {% endif %}
{% endblock %}